flask==2.0.3
python-dotenv==0.19.2
flask-wtf==1.0.0
bootstrap-flask==2.0.1
sqlalchemy==1.4.31
Flask-SQLAlchemy
flask-migrate
flask-login==0.6.0
flask-restful==0.3.9
flask-apispec==0.11.0
flask-marshmallow==0.14.0
marshmallow-sqlalchemy==0.28.0
flask-jwt-extended==4.3.1