{% extends "base.html" %}

{% block content %}

<h2>Консультации Учителя</h2>

{% for date, date_consultations in consultations| groupby("date") %}
<div class="mt-3 mb-2">
    <div class="border-bottom border-2">
        <span class="m-5 fs-5 text-secondary">{{ date }}</span>
    </div>
</div>
<div class="m-5 mt-0">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for consultation in date_consultations %}
            {% set card_data = consultation %}
            <div class="col">
                {% include "consultation_card.html" %}
            </div>
        {% endfor %}
    </div>
</div>
{% endfor %}

{% endblock %}