<div class="card h-100" style="width: 16rem;">
    <dl class="list-group list-group-flush container">
        {% set fields = ["name", "date", "time", "grade", "url"] %}
        {% for field in fields %}
            <div class="list-group-item">
                <div class="row">
                    <dt class="col text-start">
                      {{ field }}
                    </dt>
                    <dd class="col text-end">
                      {{ card_data.__getattribute__(field) }}
                    </dd>
                </div>
            </div>
        {% endfor %}
    </dl>
</div>