    <div class="card">
        <dl class="list-group list-group-flush">
            {% for field, label in fields_labels %}
                <div class="list-group-item {{ 'list-group-item-primary' if card_data.is_free else 'list-group-item-secondary' }}">
                    <div class="row">
                        <dt class="col text-start">
                            {{ label }}
                        </dt>
                        <dd class="col text-end text-nowrap">
                            {{ card_data | attr(field) }}
                        </dd>
                    </div>
                </div>
            {% endfor %}
        </dl>

</div>